#sideMenu ::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 8px;
  background: #dadce0;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
  margin-top: 5px;
  pointer-events: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #735ed9;
  cursor: pointer;
  border-radius: 100%;
  pointer-events: all;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #735ed9;
  cursor: pointer;
  border-radius: 100%;
  pointer-events: all;
  border: 0;
}

.slider::-moz-range-progress {
  height: 10px;
  background-color: #735ed9;
  opacity: 0.7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.slider::-moz-range-track {
  /* background-color: #9a905d; */
}
/* IE*/
.slider::-ms-fill-lower {
  height: 10px;
  background-color: #735ed9;
  opacity: 0.7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
